################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Service Contract/.vs/Service Contract
/Service Contract/bin
/Service Contract/obj
/Service Contract.sln.DotSettings.user
